<html>
<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Optimal rendering on mobile devices. -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://www.paypalobjects.com/webstatic/en_US/developer/docs/css/cardfields.css"/>

</head>
<body>

<!-- JavaScript SDK -->
 <script src="https://www.paypal.com/sdk/js?components=buttons&client-id=AWOe8o_B2R68GxYWuWiOYbbfWKjmZdULIWgoqQk9aM84nNSwKNqaX1d-Wyq8_vNQDaHnCeHGrWFkXsVT" data-client-token="eyJicmFpbnRyZWUiOnsiYXV0aG9yaXphdGlvbkZpbmdlcnByaW50IjoiNDlkYWQ3NzNjNjU5ZmJiY2ZjYmI5YzI4MTAyZTZjMThiNWRjYTJjYjhiOGI5ZGUwZTExNGIxMGQ0ODc2ZDg0NXxtZXJjaGFudF9pZD1yd3dua3FnMnhnNTZobTJuJnB1YmxpY19rZXk9NjNrdm4zN3Z0MjlxYjRkZiZjcmVhdGVkX2F0PTIwMjAtMDgtMThUMDI6MTQ6MTEuNDIxWiIsInZlcnNpb24iOiIzLXBheXBhbCJ9LCJwYXlwYWwiOnsiYWNjZXNzVG9rZW4iOiJBMjFBQUhFM1c4cmhsLTJXZ2FMc20wbEIyOXJtVk9xVlNPLXpucjJaQVRzc0VZcXRQTk9HeDZYS3hXQkFneUY2T0JDQUtlcHRWME5ucHI3dEgwQnZlZVNlazhzMGdRUlFnIn19"></script>

   <!-- Buttons container -->
   <table border="0" align="center" valign="top" bgcolor="#FFFFFF" style="width:39%">
    <tr>
      <td colspan="2">
        <div id="paypal-button-container"></div>
      </td>
    </tr>
    <tr><td colspan="2">&nbsp;</td></tr>
  </table>

  <!-- Implementation -->
  <script>
    //Displays PayPal buttons
    paypal.Buttons({
      commit: false,
         createOrder: function(data, actions) {
          return fetch('/create-paypal-transaction', {
            method: 'post',
            headers: {
              'content-type': 'application/json'
            }
          }).then(function(res) {
            return res.json();
          }).then(function(data) {
            return data.orderId; // Use the same key name for order ID on the client and server
          });
        },
        onCancel: function (data) {
            // Show a cancel page, or return to cart
         },
        onApprove: function(data, actions) {
          console.log('data: ', data);
          return fetch('/capture-paypal-transaction', {
            method: 'post',
            headers: {
              'content-type': 'application/json'
            },
            body: JSON.stringify({
              orderId: data.orderID
            })
          }).then(function(res) {
            return res.json();
          }).then(function(details) {
            alert('Transaction funds captured from ' + details.payer_given_name);
          })
        }
    }).render('#paypal-button-container');
    // Eligibility check for advanced credit and debit card payments
  </script>

  </body>
  </html>